{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Formation{% endblock %}

{% block body %}

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~ compétences ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="title" style="width:80%;margin:auto;padding-top:100px;">
  <h2>Formation</h2>
</div>
<div class="container">
  <section class="competences">
    <div class="row animate2">

          {% image '@AppBundle/Resources/public/images/Profil.jpg' %}
        <div class="img" style="background-image:url({{ asset_url }})" alt="Profil.jpg"> {% endimage %}

        <h3>BACK - END</h3>
      </img>
      </div>
        <div class="trigger3"></div>
      <div class="content">
        <p>Ici Se trouve toute les compétences de back-end ma geulle</p>
      </div>
    </div>
    <div class="row animate3">
      <div class="img">
        <h3>FRONT - END</h3>
      </div>
      <div class="trigger2-2"></div>
      <div class="content">
        <p>Ici Se trouve toute les compétences de front-end ma geulle</p>
      </div>
    </div>
    <div class="row animate2-2">
      <div class="img">
        <h3>AUTRES</h3>
      </div>
      <div class="content">
        <p>Ici Se trouve toute les compétences autre ma geulle</p>

      </div>
    </div>
  </section>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~ articles ~~~~~~~~~~~~~~~~~~~~ -->

</div>
{% endblock %}
